#custom-tweak-form label { text-align: right; padding-right: 10px; }
#custom-tweak-form input, #custom-tweak-form select, #custom-tweak-form textarea, #custom-tweak-form button {
    width: 100%; box-sizing: border-box; background-color: #4a4a4a; color: #f0f0f0;
    border: 1px solid #777; border-radius: 4px; padding: 6px; font-family: sans-serif;
}

#custom-tweak-form input[type="text"],
#custom-tweak-form textarea {
    width: 80%;
}

#custom-tweak-form #custom-option-type {
    width: auto;
    justify-self: start;
}
#custom-tweak-form textarea { resize: vertical; min-height: 60px; font-family: monospace; }
#custom-tweak-form button {
    grid-column: 2;
    background-color: #4caf50;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: auto;
    justify-self: start;
}
#custom-tweak-form button:hover { background-color: #66bb6a; }

#custom-tweak-form button[type="submit"] {
    width: auto;
    justify-self: start;
}
